$grey-color: #858a8a;
$hover-color: #b31db6;
$active-color: #940b97;
$text-color: #1d1d1d;

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: all 0.3s ease;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000000;
  &:hover {
    color: $hover-color;
  }
}

button {
  outline: none;
  cursor: pointer;
  border: none;
  background: transparent;
}

body {
  //   overflow: hidden;
  font-family: "Roboto", sans-serif;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
  max-width: 1580px;
  position: relative;
  &::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: calc(100% - 35px);
    height: 100%;
    background-image: repeating-linear-gradient(
      90deg,
      #f1f1f1,
      #f1f1f1 1px,
      transparent 1px,
      transparent calc((100% / 6) - 1px)
    );
  }
}

.header {
  .header_inner {
    padding: 23px 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    display: block;
    font-size: 0;
    line-height: 0;
  }

  .header_menu {
    display: flex;
    align-items: center;
    li:not(:last-child) {
      margin-right: 35px;
    }
    a {
      display: block;
      font-size: 18px;
      line-height: 18px;
      font-weight: 400;
      letter-spacing: 0.09em;
      text-transform: uppercase;
      transition: all 0.3s ease;
    }
    .active a {
      color: $active-color;
    }
  }

  .burger_menu {
    display: none;
    background: url(../img/menuburger.svg) center/cover no-repeat;
    width: 23px;
    height: 18px;
    border: none;
  }
}

.content_wrapper {
  padding: 138px 3px;
  position: relative;
  display: flex;
  justify-content: space-between;
  &::before {
    content: "Magnificent";
    display: block;
    position: absolute;
    top: 8px;
    left: -11px;
    font-weight: 900;
    font-size: 191px;
    line-height: 191px;
    letter-spacing: 0.09em;
    color: #f1f1f1;
    z-index: -1;
  }
  h1 {
    font-weight: 300;
    font-size: 63px;
    line-height: 79px;
    height: fit-content;
    max-width: 365px;
    background: -webkit-linear-gradient(
      300deg,
      #2ec73d 14.65%,
      #7c64c2 47.8%,
      #b31db6 77.28%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.content {
  display: flex;
  justify-content: space-between;
  margin-top: 153px;
  .tab_menu {
    margin-right: 64px;

    &.opened {
      display: block;
    }

    .menu_item {
      display: flex;
      justify-content: flex-end;
      position: relative;
      transition: all 0.3s ease;
      &.active {
        box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.07);
        &::after {
          background: linear-gradient(
            140.05deg,
            #2ec73d 14.3%,
            #7c64c2 55.45%,
            #b31db6 92.06%
          );
        }
      }
      a {
        font-size: 26px;
        line-height: 18px;
        letter-spacing: 0.03em;
        color: $grey-color;
        padding: 20px 24px;
        padding-left: 30px;
        width: 100%;
        text-align: end;
      }
      &:not(:last-child) {
        margin-bottom: 15px;
      }
      &::after {
        content: "";
        display: block;
        width: 4px;
        height: 100%;
        background: transparent;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
      }
      &:hover {
        box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.07);
        a {
          color: black;
        }
        &::after {
          background: linear-gradient(
            140.05deg,
            #2ec73d 14.3%,
            #7c64c2 55.45%,
            #b31db6 92.06%
          );
        }
      }
    }
  }
  .tabs_wrapper {
    max-width: 702px;
  }

  .tab {
    display: none;
    animation: fadeEffect 1s;
    &.active {
      display: block;
    }
  }

  .tab_text {
    margin-bottom: 30px;
    p {
      font-size: 18px;
      font-weight: 400;
      line-height: 26px;
      letter-spacing: 0.02em;
      color: $text-color;
      user-select: text;
      -moz-user-select: text;
      -khtml-user-select: text;
      -webkit-user-select: text;
      -o-user-select: text;
    }
  }

  .dropbtn {
    display: none;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 13px 24px;
    background: white;
    box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.07);
    position: relative;

    span {
      font-size: 22px;
      line-height: 18px;
      font-weight: 900;
    }

    img {
      width: 22px;
      height: 22px;
    }

    &::before {
      content: "";
      display: block;
      position: absolute;
      background: linear-gradient(
        338deg,
        rgba(46, 199, 61, 0.5) 28.66%,
        rgba(124, 100, 194, 0.5) 63.77%,
        rgba(179, 29, 182, 0.5) 95.01%
      );
      width: 100%;
      height: 4px;
      left: 0;
      bottom: -4px;
    }

    &.opened img {
      transform: rotate(180deg);
    }
  }
}

.img_slider_outer {
  display: flex;
  overflow: hidden;

  .slider_item {
    display: none;
    pointer-events: none;
    max-width: 100%;
  }

  .slider_item.active {
    display: block;
  }
}

.img_slider_dots {
  display: flex;
  justify-content: center;
  align-items: center;

  .dot_btn {
    width: 12px;
    height: 12px;
    border: 1px solid #c4c4c4;
    border-radius: 100%;
    background: transparent;
    position: relative;
    &:not(:last-child) {
      margin-right: 25px;
    }
    &:hover {
      border-color: $hover-color;
    }
    &.active {
      cursor: default;
      pointer-events: none;
      &::before {
        content: "";
        display: block;
        position: absolute;
        width: 4px;
        height: 4px;
        background: #c4c4c4;
        top: 50%;
        right: 50%;
        transform: translate(50%, -50%);
        border-radius: 100%;
      }
    }
  }
}

.slideInLeft {
  animation: animateInRight 0.5s;
}

.slideInRight {
  animation: animateInLeft 0.5s;
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes animateInLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes animateInRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@media all and (max-width: 1300px) {
  .content_wrapper {
    padding: 100px 3px;

    &::before {
      font-size: 150px;
      line-height: 150px;
      left: -8px;
    }
  }
}

@media all and (max-width: 1100px) {
  .content_wrapper {
    flex-direction: column;

    h1 {
      max-width: 100%;
    }
    .content {
      margin-top: 50px;
    }
  }
}

@media all and (max-width: 1000px) {
  .content_wrapper {
    padding: 70px 3px;

    &::before {
      font-size: 110px;
      line-height: 110px;
      left: -5px;
    }
  }
}

@media all and (max-width: 768px) {
  .content_wrapper {
    padding: 54px 0;

    &::before {
      font-size: 95px;
      line-height: 95px;
    }
    h1 {
      font-size: 54px;
      line-height: 64px;
    }
  }
}

@media all and (max-width: 700px) {
  .header {
    .header_menu {
      display: none;
    }

    .burger_menu {
      display: block;
    }
  }

  .content_wrapper {
    &::before {
      font-size: 85px;
      line-height: 90px;
    }

    .content {
      margin-top: 30px;
    }
  }

  .content {
    flex-wrap: wrap;

    .tab_menu_wrapper {
      width: 100%;
      margin-bottom: 30px;
    }
    .tab_menu {
      display: none;
      margin: 0;
      margin-top: 4px;
      animation: fadeEffect 0.3s;

      .menu_item {
        justify-content: start;
        background: #f7f7f7;
        margin-bottom: 0 !important;

        a {
          text-align: start;
          padding: 15px 22px;
          font-size: 22;
          line-height: 18px;
        }

        &::after {
          display: none;
        }

        &.active {
          background: white;

          a {
            background: linear-gradient(
              179deg,
              rgba(46, 199, 61, 0.8) 20.37%,
              rgba(124, 100, 194, 0.8) 56.03%,
              rgba(179, 29, 182, 0.8) 86.17%
            );
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
        }
      }
    }

    .dropbtn {
      display: flex;
    }
  }
}

@media all and (max-width: 700px) {
  .content_wrapper {
    padding: 40px 0;

    &::before {
      font-size: 70px;
      line-height: 75px;
    }

    h1 {
      font-size: 45px;
      line-height: 52px;
    }
  }
}

@media all and (max-width: 475px) {
  .content_wrapper {
    padding: 36px 0;

    &::before {
      font-size: 60px;
      line-height: 60px;
    }

    h1 {
      font-size: 37px;
      line-height: 44px;
    }

    .content {
      margin-top: 22px;
    }
  }
}

@media all and (max-width: 400px) {
  .content_wrapper {
    padding: 30px 0;

    &::before {
      font-size: 50px;
      line-height: 50px;
    }

    h1 {
      font-size: 27px;
      line-height: 34px;
    }
  }
}

@media all and (max-width: 350px) {
  .content_wrapper {
    padding: 27px 0;

    &::before {
      font-size: 45px;
      line-height: 45px;
    }

    h1 {
      font-size: 25px;
      line-height: 32px;
    }
  }
}
